//@charset 'utf-8';

@import 'settings';
@import '../node_modules/foundation-sites/scss/foundation';
@import '../node_modules/motion-ui/src/motion-ui';
@import '../node_modules/foundation-sites/scss/util/util';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;

@include motion-ui-animations;


body{
  font-family: 'proxima-nova',"Proxima Nova";

.topics, .popular {
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 50px;


  .sharpscent{
    color: #575b5e;
    font-size: 20px;
    font-weight: normal;

    .fas{
      color: #9ca8af;
      margin: 5px;
      font-size: 8px;
    }

    P{
      color:gray;
    }
  }



  .card {
    padding: 10px 0px 35px 0px;
    box-shadow: 0px 0px 0px 0px #c0c0c0;

    h5{

      font-size: 15px;

    }

    p{
      //font-family: Baskerville;
      line-height: 1;
    }
  }

}

@media print, screen and (min-width: 40em) {
  .grid-padding-x > .cell {
    margin: auto;
    margin-top: 10px;
  }
}

.small {

  .cell{

    margin:5px 0px 5px 0px;

  }

  h6 {
    font-size: 13px;
    font-weight: bolder;
    line-height: 1;
  }

  p {
    font-size: 10px;
  }
  .sub-section{

    img{
      width: 100%;
      height: 90px;
    }


  }
  .add{
   margin-top: -50px;

  }
}

.big {
  $height:1;

  h5{
    font-size: 17px;
    line-height: $height;
    font-weight: bold;
  }

  h6 {
    font-size: 10px;
    font-weight: bold;
    padding: 8px 0px 5px 0px;
    line-height: $height;
  }

  p {
    font-size: 15px;
    line-height: 1.2;
  }
  img{
    width: 100%;
    height: 170px;
  }
}

.heading {
  .cell {
    height: 380px;
    padding: 0px;
    margin: 0px;

    min-height:100%;
    background-size:cover;

    div{
      color: #f1f1f1;
      position: relative;
      top: 250px;
      right: 0;
      height: 100px;
      margin-left: 20px;

      h4{
        font-size: 13px;
        font-weight: bold;
      }

      h6{
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}



.menu{
  background-color: #0b071b;
  padding-bottom: 10px;
  padding-top: 10px;

  font-weight: bold;
  .menu-text{
    font-size: xx-large;
    color: #f1f1f1;
    margin-right: 100px;
  }

  li{

    a{
      color: #f1f1f1;
      font-size: 12px;

    }
  }
}

.button{
  background-color:#ececec;
  color: #0b043f;
  font-weight: bold;
  font-size: 13px;
  margin: 20px 30px -30px 30px;
  border-radius: 3px;
}
}
