
//This is the global fon variable
@use "partial";
//@use "partials/_variables";

%format-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  border-radius:10px ;
}


.container{
  background: partial.$myBackground;
  display: block;
  grid-template-columns: auto auto auto;
  padding: 10px;


  &__header{

      overflow: hidden;
      background-color: black;
      padding: 20px 10px;
      width: 100%;
      
      a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px; 
        line-height: 25px;
        border-radius: 4px;

        &.active {
          background-color: rgb(130, 133, 132);
          color: white;
        }
        &:hover {
          background-color: rgb(197, 181, 240);
          color:white;
        }
      }

  }

  &__image{
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 300px;

    img{
      width: 100%;
      height: 480px;
    }

    h1{
      position: absolute;
      top: 40%;
      left: 10%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #2a928100;
      color: white;
      font-size: 100px;
      padding: 16px 30px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      @include partial.transform(rotate(-30deg));
    }

    .btn {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #2a9281;
      color: white;
      font-size: 16px;
      padding: 16px 30px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;

    }
  }

  &__description{

    width: 100%;
    height: 300px;
    background-color: silver;
    padding: 10px;
    background:linear-gradient(0deg, rgba(26, 25, 25, 0.3), rgba(73, 48, 63, 0.3)), url(http://norimresearch.com/star_events/images/vonecia-carswell-3cBFqagweZM-unsplash.jpg);
    h4{
      color: black;
    }

    h6{

      color: red;
    }

    p{
      color: royalblue;
    }
  }



  &__table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 180px;

    & table {
      width: 100%;
    }

    & td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    & tr th {
      font-size: 15px;
    }
    & tr td {
      font-size: 10px;
    }

    & tr:nth-child(even){background-color: #f2f2f2;}

    & tr:hover {background-color: #ddd;}

    & th {

      background-color: rgb(70, 46, 207);
      color: white;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
    }


  }
  & ul {
    float: left;
    border-left: 5px solid #bed1ff;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
    width: 40%;
    @include partial.shadow();
  }

  & ol {
    @extend %format-shared;
    float: right;
    border-left: 5px solid #2bff0a;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
    width: 40%;
    @include partial.shadow();
  }

  &__mapouter{
    float: left;
    width: 100%;
  }

  &__myform{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    elevation: above;
    margin: 20px;
    @include partial.shadow();

    input[type=text], select {

      box-sizing: border-box;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type=submit] {

      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      background-color: #af2b54;
      color: white;
      padding: 14px 20px;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }
  }
}


.success {
  @extend %format-shared;
  background-color: #2a9281;
  color: #f1f1f1;
  align-content: center;
  border-color: green;
}

.error {
  @extend %format-shared;
  border-color: red;
}

.warning {
  @extend %format-shared;
  border-color: yellow;
  background-color: #5c9238;
  color: #f1f1f1;
  align-content: center;
}





